
.btn {
    display: inline-block;
    padding: 1em 2em;
    font-size: 0.7rem;
    text-align: center;
    background-color: #0142FE;
    color: #fff;
    line-height: 1em;
    text-transform: inherit;
    text-decoration: none;
    border-radius: 1.6em;
    border: 0.1em solid #0142FE;
    user-select: none;
}
.btn:hover {
    background-color: #fff;
    color: #0142FE;
}

/*.search {
    display: inline-block;
    padding: 1em 2em;
    font-size: 0.7rem;
    text-align: center;
    background-color:#fff;
    color: lightgrey;
    line-height: 1em;
    text-transform: inherit;
    text-decoration: none;
    border-radius: 1.6em;
    border: 0.1em solid lightgrey;
    user-select: none;
}*/