.header {
    grid-area: header;
    background-color: #fff;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 2rem 1rem;
}

.logo {
}

.form {
}

.land {
    display: inherit;
    gap: 1rem;
    position: relative;
}