
.header {
    grid-area: header;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    padding: 2rem 3rem;
    background-color: #fff;
}

.search {
    grid-column: span 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    display: grid;
    gap: 1rem;
    padding: 2rem;
    background-color: lightgoldenrodyellow;
    border-radius: 1rem;
}

.logo {
}


